body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(0, 0%, 3%);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1  {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center; 
}


.horizontal-list {
    list-style-type: none; 
    padding: 0;           
    margin: 5;            
    display: flex;        /
}

.horizontal-list li {
    margin-right: 180px;   
}


.horizontal-list li:last-child {
    margin-right: 0;
}

.logo {
    width: 100px; 
}

.footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center; 

.footer-content {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 

.footer-links, .footer-info, .footer-social {
    flex: 1; 
    margin: 10px; 
}

.footer-links ul, .footer-social ul {
    list-style: none; 
    padding: 0; 
}

.footer-links a, .footer-social a {
    color: white; 
    text-decoration: none; 
}

.footer-links a:hover, .footer-social a:hover {
    text-decoration: underline; /

.footer-bottom {
    background-color: #222; */
    padding: 10px 0; 